body{
    display: flex;
    flex-direction: row;
}
.grid-container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.game-options-container{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 2rem;
}

.grid-square{
    background-color: black;
}
.active{
    background-color: aqua;
}
.size-choice, .reset-grid{
    width: 10rem;
    height: 3rem;
    padding: 1rem;
}